li{
    display: inline-block;
    margin-left: 20px;
}
#main{

    zoom: 1px;
    color: green;
    font-style:italic;
    font-size:30px;
}
#clear{
    zoom: 1px;
    color: aliceblue;
    border: 12px solid;
    border-color:green;
    background-color:green;
    border-radius: 20px;
}
div{
    margin-left: 50px;
    font-size: 70px;
    color: green;
}
p{
    display: inline block;
    margin-left: 110px;
    font-size: 20px;
}
div1{
    
  
   margin-left: 110px;
   
}
div2{
    margin-left: 110px;
}
div3{
    margin-left: 200px;
}
div4{
    font-size: 30px;
    margin-left: 110px;
    
}
a{
    color: aliceblue;
    border: 12px solid;
    border-color:green;
    background-color:green;
    border-radius: 20px;

}
