li{
    display: inline-block;
    margin-left: 20px;
}
#main{

    zoom: 1px;
    color: green;
    font-style:italic;
    font-size:30px;
}
#clear{
    zoom: 1px;
    color: aliceblue;
    border: 12px solid;
    border-color:green;
    background-color:green;
    border-radius: 20px;
}
div{
    margin-left: 50px;
    font-size: 70px;
    color: green;
}
p{
    display: inline block;
    margin-left: 110px;
    font-size: 20px;
}
div1{
    
   color: white;
   border: 10px solid green;
   margin-left: 110px;
   border-radius: 10px;
   background-color: green;
}
div2{
    margin-left: 110px;
}
